    </head>
    <body>
        <h1>Welcome to my very own calculator!</h1>
        <p>you can do amazin math, but some of<br>
            the syntax, is a bit off... Have fun
        </p>
        <form method="POST">
            <div>
                <label for="name">What do you want to calculate?</label>
                <br>
                    <input name="text">
                    <input type="submit">
                <p>{{output}}</p>
            </div>
        <div class="highlight" style="background: #f8f8f8"><pre style="line-height: 125%;"><span></span><span style="color: #008000; font-weight: bold">from</span> <span style="color: #0000FF; font-weight: bold">flask</span> <span style="color: #008000; font-weight: bold">import</span> Flask, request, render_template

app <span style="color: #666666">=</span> Flask(<span style="color: #19177C">__name__</span>)

<span style="color: #AA22FF">@app</span><span style="color: #666666">.</span>route(<span style="color: #BA2121">'/'</span>)
<span style="color: #008000; font-weight: bold">def</span> <span style="color: #0000FF">index</span>():
    <span style="color: #008000; font-weight: bold">return</span> render_template(<span style="color: #BA2121">'index.html'</span>)

<span style="color: #AA22FF">@app</span><span style="color: #666666">.</span>route(<span style="color: #BA2121">'/'</span>, methods<span style="color: #666666">=</span>[<span style="color: #BA2121">'POST'</span>])
<span style="color: #008000; font-weight: bold">def</span> <span style="color: #0000FF">very_safe_function</span>():
    field_input <span style="color: #666666">=</span> request<span style="color: #666666">.</span>form[<span style="color: #BA2121">'text'</span>]
    output <span style="color: #666666">=</span> <span style="color: #008000">str</span>(field_input)
    <span style="color: #008000; font-weight: bold">try</span>:
        thingy <span style="color: #666666">=</span> {}
        exec(field_input, <span style="color: #008000">globals</span>(), thingy)
        <span style="color: #008000; font-weight: bold">return</span> thingy[<span style="color: #BA2121">"tv6gbn7h9ikm8"</span>]
    <span style="color: #008000; font-weight: bold">except</span>:      
        <span style="color: #008000; font-weight: bold">return</span> output
</pre></div>
